@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var inprocess = "text-primary";
    var all = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
        case "inprocess":
            inprocess = "active text-white bg-primary";
            break;
        case "approved":
            approved = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;
    }
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.3/css/buttons.dataTables.min.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Order List</h2>
            </div>
        </div>
    </div>
    <div class="text-center" >
    <button type="button" class="btn btn-secondary btn_print m-3" onclick="exportToPDF()" value="Export to PDF">
        <i class="fas fa-file-pdf"></i> Download as PDF
      </button>

      <button type="button" class="btn btn-secondary btn_print m-3" onclick="export_data()" value="Export to excel"><i
          class="fas fa-file-excel"></i> Download as Excel</button>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm"> 
                <a style="text-decoration:none" asp-action="Index" asp-controller="Order" asp-route-status="inprocess">
                <li class="list-group-item @inprocess">In Process</li>
                </a>
                <a style="text-decoration:none" asp-action="Index" asp-controller="Order" asp-route-status="pending">
                <li class="list-group-item @pending">Payment Pending </li>
                </a>
                <a style="text-decoration:none" asp-action="Index" asp-controller="Order" asp-route-status="completed">
                <li class="list-group-item @completed">Completed</li>
                </a>
                <a style="text-decoration:none" asp-action="Index" asp-controller="Order" asp-route-status="approved">
                <li class="list-group-item @approved">Approved</li>
                </a>
                <a style="text-decoration:none" asp-action="Index" asp-controller="Order" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div> 

        <table id="orderData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        PhoneNumber
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Payment Method
                    </th>
                    <th>
                        Total
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
    <script>
  $(document).ready(function(){
      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip();
      
      // Select/Deselect checkboxes
      var checkbox = $('table tbody input[type="checkbox"]');
      $("#selectAll").click(function(){
          if(this.checked){
              checkbox.each(function(){
                  this.checked = true;                        
              });
          } else{
              checkbox.each(function(){
                  this.checked = false;                        
              });
          } 
      });
      checkbox.click(function(){
          if(!this.checked){
              $("#selectAll").prop("checked", false);
          }
      });
  });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>
function exportToPDF() {
    const element = document.getElementById('orderData');
    const opt = {
      margin: 10,
      filename: 'sales_report.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'Landscape' },
    };

    html2pdf().from(element).set(opt).save();
  }



  function export_data() {
            let data = document.getElementById('orderData');
    var fp = XLSX.utils.table_to_book(data, { sheet: 'SalesReport' });
    XLSX.write(fp, {
      bookType: 'xlsx',
      type: 'base64'
    });
    XLSX.writeFile(fp, 'test.xlsx');
    }
</script>
}
